<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="idao" class="dao.ItemDao"/>
    <bean id="udao" class="dao.UserDao"/>
    <bean id="itemService" class="service.ItemService"/>
    <bean id="userService" class="service.UserService"/>
    <bean id="authenticationService" class="service.AuthenticationService"/>
    <bean id="html" class="html.HtmlFormer"/>

</beans>